[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
gunicorn = "*"
motor = "*"
pymongo = "*"
dnspython = "*"
httpx = "*"

[requires]
python_version = "3.7"
